<!DOCTYPE html>
<html>
<head>
    <title>Editar Asignatura</title>
</head>
<body>
    <h1>Editar <%= subject.name %></h1>
    <form action="/subjects/<%= subject.id %>?_method=PUT" method="POST">
        <div>
            <label>Nombre:</label>
            <input type="text" name="name" value="<%= subject.name %>" required>
        </div>
        <button type="submit">Actualizar</button>
        <a href="/subjects">Cancelar</a>
    </form>
</body>
</html>