<!DOCTYPE html>
<html>
<head>
    <title>Nueva Asignatura</title>
</head>
<body>
    <h1>Crear Nueva Asignatura</h1>
    <form action="/subjects" method="POST">
        <div>
            <label>Nombre de la asignatura:</label>
            <input type="text" name="name" required>
        </div>
        <button type="submit">Guardar</button>
        <a href="/subjects">Cancelar</a>
    </form>
</body>
</html>